

.subscribeInput{
    width: 330px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    border: none;
    outline: 0;
    padding: 24px  ;
}

.subscribeInput::placeholder{
    font-family: oswald;
    font-size: 16px;
}
.subscribeButton{
    width: 150px;
    height: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: lato;
background: #ffd1da;
font-weight: bold;
    border: none;
    outline: 0;
    padding: 12px 24px  ;
    font-size: 18px;
}